.chat_container{
	width:250px;
	height:700px;
	background-color: rgb(98,98,98);
	border-radius: 10px;
        position: absolute;
        right:0;
}

.sub_container{
	width:230px;
	height: 670px;
	background-color: white;
	margin-left: 10px;
	margin-top: 15px;
	position: absolute;
}

div.chat_content{
	height: 600px;
	padding-top: 10px;
	background-color: rgb(236, 236, 236);
}

#chat_ul{
	list-style-type: none;
}

.get_content_li{
	/*margin-left: -30px;*/
	margin-top: 10px;
	width: 160px;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 5px 5px #888888;
}

.send_content_li{
	margin-top: 10px;
	width: 160px;
	padding: 10px;
	border-radius: 5px;
	background-color: rgb(140, 255, 185);
	box-shadow: 5px 5px 5px #888888;
	right: 0;
}

.unreached:before{
	content:url('../../loading.gif');
	width:20px;
	height: 20px;
}

.reached{
	display: none;
}

div.user_typing{
	height: 66px;
	background-color: white;
}

.user_input{
	margin-top: 10px;
	margin-left: 10px;
	resize: none;
	width: 150px;
}

.user_btn{
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 5px;
}
